a,
h1,
h2,
h3,
li,
input,
p {
  font-family: "aileron"; }

@font-face {
  font-family: "aileron";
  src: url("./assets/fonts/Aileron-Light.eot");
  src: url("./assets/fonts/Aileron-Light.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Aileron-Light.otf") format("opentype"), url("./assets/fonts/Aileron-Light.woff") format("woff"), url("./assets/fonts/Aileron-Light.woff2") format("woff2"), url("./assets/fonts/Aileron-Light.ttf") format("truetype"); }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

input::-ms-clear {
  display: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

ul {
  list-style-type: none; }

header ul {
  background-color: lightgreen; }
  header ul li {
    display: inline-table;
    height: 150px;
    background-color: lightblue; }
    header ul li {
      padding: 3%; }
    header ul li:last-child {
      width: 5%; }
    header ul li input {
      width: 100%;
      padding: 5px;
      font-style: italic; }
  header ul li#logo {
    text-align: center;
    background-color: red;
    width: 20%; }
    header ul li#logo a img {
      width: 100px;
      vertical-align: top; }
  header ul li#cart {
    background-image: url("./assets/images/cart.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 20% 0;
    text-align: right;
    padding-right: 10px; }

header p#banner {
  height: 300px; }

header p#promo {
  height: 100px; }
