@forward "placeholders";

@mixin fonts($name, $URL, $fileName) {
	@font-face {
		font-family: $name;
		src: url("#{$URL}/#{$fileName}.eot");
		src: url("#{$URL}/#{$fileName}.eot?#iefix") format("embedded-opentype"),
			url("#{$URL}/#{$fileName}.otf") format("opentype"),
			url("#{$URL}/#{$fileName}.woff") format("woff"),
			url("#{$URL}/#{$fileName}.woff2") format("woff2"),
			url("#{$URL}/#{$fileName}.ttf") format("truetype");
	}
}

// @mixin spacing($property, $map, $isImportant: null) {
// 	#{$property}: {
// 		@each $side, $value in $map {
// 			#{$side}: $value $isImportant;
// 		}
// 	}
// }

@mixin spacing($property, $sides, $value, $isImportant: null) {
	#{$property}: {
		@if $sides == TB {
			top: $value $isImportant;
			bottom: $value $isImportant;
		}
		@if $sides == LR {
			left: $value $isImportant;
			right: $value $isImportant;
		}
	}
}

@mixin square($size, $color) {
	content: "";
	position: absolute;
	width: #{$size};
	height: #{$size};
	background-color: #{$color};
}
