header {
	ul {
		background-color: lightgreen;
		li {
			display: inline-table;
			height: 150px;
			// border-right: 1px solid gray;
			background-color: lightblue;

			&:not(:first-child, :last-child) {
				padding: 3%;
				// width: 10%;
			}
			&:last-child {
				width: 5%;
			}

			a {
			}

			input {
				width: 100%;
				padding: 5px;
				font-style: italic;
			}
		}

		li#logo {
			text-align: center;
			background-color: red;
			width: 20%;

			a {
				img {
					width: 100px;
					vertical-align: top;
				}
			}
		}

		li#cart {
			background: {
				image: url("./assets/images/cart.png");
				repeat: no-repeat;
				size: 50%;
				position: 20% 0;
			}
			text-align: right;
			padding-right: 10px;

			a {
			}
		}
	}

	p#banner {
		height: 300px;
	}

	p#promo {
		height: 100px;
	}
}
